.card {
  margin-top: 1rem;
  margin-bottom: 1rem;

  .card-body {
    .card-title {
      font-weight: bold;
    }
  
    .card-text {
      margin-bottom: 1rem;
    }
  
    #card-button {
      background-color: none !important;
      border-color: none !important;
    }
  }
}