.section-container {
  background-image: linear-gradient(#00467B, #00233E);

  .section-header-container {
    padding-top: 3rem;

    h2 {
      font-weight: 700;
    }

    .icons-container {
      padding-top: 2rem;

      img {
        height: 40%;
        width: auto;
      }
  
      h4 {
        margin-top: 1rem;
        font-weight: 700;
        margin-bottom: 0;
      }
  
      p {
        margin-bottom: 1rem;
      }
    }

    .anchor-button-container {
      padding-bottom: 3rem;
    }
  }
}