.modal {
  h3 {
    font-weight: bold;
    color: #00467B;
  }

  .modal-title {
    font-weight: bold;
    text-transform: uppercase;
    color: #00467B;
  }

  .btn {
    border-color: #00467B;
    background-color: #00467B;
    width: 100%;
  }
}